.saint-list {
    @extend %saint-list;
}

%saint-list {
    display: block;
    padding: 0;
    margin: 2rem 0;

    li {
        @extend %saint-list-item;
        margin: 0.2rem 0;
    }
}

%saint-list-item {
    $thumb-size: 4rem;
    $label-padding: 0.5rem;
    display: block;

    input {
        display: none;
    }

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        .name {
            transition: background-color 300ms, color 300ms;
            display: block;
            background: color('subtle');
            color: color('subtle', 'inverse');
            padding: $label-padding $label-padding $label-padding ($thumb-size/2 + $label-padding);
            order: 1;
            flex: 1 1 auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
            border-radius: 0.5rem;
        }

        .thumb {
            position: relative;
            display: block;
            height: $thumb-size;
            width: $thumb-size;
            margin-right: -$thumb-size/2;
            border-radius: 50%;
            background: color('main');
            order: 0;
            flex: 0 0 auto;
            overflow: hidden;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.25) inset;

            img {
                display: block;
                box-sizing: border-box;
                max-width: 100%;
                max-height: 100%;
                margin: auto;

                &.default {
                    padding: 0.5rem;
                }
            }
        }
    }

    input:checked {
        ~ label {
            .name {
                background: color('main', 'alt');
                color: color('main', 'inverse');
            }
        }
    }
}