@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

@import './base/colours';
@import './base/type';

@import './components/button';
@import './components/loading-icon';
@import './components/navbar';
@import './components/footer';
@import './components/saint-list';

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

button, input, p, select {
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
        @extend %navbar;
        background: color(main);
    }

    footer {
        @extend %footer;
    }

    #app {
        flex: 1;
        padding: 0 0.8rem;
    }

    ul {
        @extend %saint-list;
    }
}